:root {
  --black: #000000;
  --white: #ffffff;
  --grey: #a9a9a9;
  --dark-blue: #64809b;
  --light-blue: #9bc6f0;
}
* {
  padding: 0;
  margin: 0;
  font-family: "Times New Roman", Times, serif;
}
html {
  scroll-behavior: smooth;
}
/*  */
/* NAV */
/*  */
nav {
}
/*  */
/* ALL */
/*  */
.section {
  min-height: 100vh;
  background-color: var(--black);
}
/*  */
/* MAIN */
/*  */
.section-main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;

  .main-left {
    img {
      box-shadow: var(--black) -28px 28px 0px -2px, var(--white) -28px 28px;
    }
  }
  .main-right {
    max-width: 420px;
    color: var(--white);

    .main-right-top {
      p {
        font-size: 50px;
        line-height: 58px;
        font-weight: bold;
      }
    }
    .main-right-bot {
      p {
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 1px;
        text-align: justify;
      }
    }
  }
}
/*  */
/* MEMBERS */
/*  */
.section-members {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.member-container {
  background-color: transparent;
  width: 300px;
  height: 418.99px;
  perspective: 1000px;
}
.member-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}
.member-container:hover .member-inner {
  transform: rotateY(180deg);
}
.member-front,
.member-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
.member-front {
  background-color: var(--white);
  color: var(--black);
  border-radius: 12px;
}
.member-back {
  background-color: var(--white);
  color: var(--black);
  transform: rotateY(180deg);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
